body {
  background-color: #add8e6;
  color: beige;
}


.mainPageDrawings {
  #title {
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
      z-index: 2;
      margin-left: 25%;
  }
}

.cloudAnimation {
   position:absolute;
}
.cloudAnimation2 {
   position:absolute;
}

.backgroundBox {
   margin-left: -1%;
   position:absolute;
   height: 900px;
   width: 1950px;
   background-color: #d9f0ff;
}


.conflicts {
   position:absolute;
   background-color: #36454f;
   border-radius: 25px 0 0 25px;
   font-size: 50px;
  
   /*scrollability*/
   margin-top: 2%;
   margin-left: 5%;
   height: 800px;
   width: 1050px;
   overflow-y: scroll;


}


.solutions {
   position:absolute;
   background-color: white;
   border-radius: 0 25px 25px 0;
   font-size: 50px;
   color: black;


   /*scrollability*/
   margin-top: 2%;
   margin-left: 59%;
   height: 800px;
   width: 660px;
   overflow-y: scroll;

}