body {
background-color: #add8e6;
color: black;
}

.mainPageDrawings {
#title {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    z-index: 2;
    margin-left: 25%;
}
}

.cloudAnimation {
 position:absolute;
}
.cloudAnimation2 {
 position:absolute;
}

#solutionsPending {
 max-width: 70%;
 height: auto;
 margin-top: 40%;
 margin-left: 13.5%;
}
#noSolutionsAnimation {
max-width: 70%;
 height: auto;
 margin-top: 30%;
 margin-left: 13.5%;
}
#LoadingSolutionsAnimation {
 margin-top: 40%;
}

#upload {
 font-size: 35px;
 color:black;
 width: 500px;
 height: 300px;
 padding: 30px;
 background: white;
 text-align: center;
 border-radius: 20px;
 margin-left: 24%;
 margin-top: 20%;
  #upload-img {
    margin-top: 3%;
    width: 100%;
    height:80%;
    border-radius:20px;
    border:2px dashed #bbb5ff;
    background: #f7f8ff;
        #upload-icon{
            width: 350px;
            height: 250px;
        }
 }
}


.conflicts {
 position:absolute;
 background-color: #36454f;
 border-radius: 25px 0 0 25px;
 font-size: 50px;
  /*scrollability*/
 margin-top: 2%;
 margin-left: 5%;
 height: 800px;
 width: 1050px;
 overflow-y: scroll;
}


.solutions {
 position:absolute;
 background-color: white;
 border-radius: 0 25px 25px 0;
 font-size: 50px;
 color: black;

 /*scrollability*/
 margin-top: 2%;
 margin-left: 59%;
 height: 800px;
 width: 660px;
 overflow-y: scroll;
}

/* FOR SHIFTING THE CONFLICT CONTAINER ELEMENTS UPWARD*/
.conflicts.jsonUploaded #upload { /*overrides previous set-up*/
  margin-top: 20px;
}


/*======================================================================*/
/*Formatting for device compaitiibility (macbook screens up to monitors)*/
/*MACBOOK SCREEN*/
@media only screen and (max-width: 1500px) {
    #cloudAnimation {
        max-width: 100%;
        height: auto;
    }

    #cloudAnimation2 {
        max-width: 100%;
        height: auto;
        top:20%;
    }

    #upload {
        font-size: 35px;
        color:black;
        width: 400px;
        height: 300px;
        padding: 30px;
        background: white;
        text-align: center;
        border-radius: 20px;
        margin-left: 15%;
        margin-top: 15%;
        #upload-img {
            margin-top: 3%;
            width: 100%;
            height:80%;
            border-radius:20px;
            border:2px dashed #bbb5ff;
            background: #f7f8ff;
                #upload-icon{
                    width: 350px;
                    height: 250px;
                }
        }
        }


        .conflicts {
            position:absolute;
            background-color: #36454f;
            border-radius: 25px 0 0 25px;
            font-size: 50px;
            /*scrollability*/
            margin-left: 6%;
            height: 620px;
            width: 710px;
            overflow-y: scroll;
        }


        .solutions {
            position:absolute;
            background-color: white;
            border-radius: 0 25px 25px 0;
            font-size: 50px;
            color: black;

            /*scrollability*/
            margin-left: 55%;
            height: 620px;
            width: 500px;
            overflow-y: scroll;
        }

        #LoadingSolutionsAnimation {
            
        }
}




